form(class="{{cssClass}}" autocomplete="off")
  .character-sheet-wrapper
    .character-sheet-header I am header!
    .character-sheet-body I am body!
      //- div Edge: {{ data.attributes.edge }}
      //- div Heart: {{ data.attributes.heart }}
      //- div Iron: {{ data.attributes.iron }}
      //- div Shadow: {{ data.attributes.shadow }}
      //- div Wits: {{ data.attributes.wits }}
      ul
        | {{#each data.attributes}}
        li {{@key}}: {{this}}
        | {{/each}}

    .character-sheet-momentum {{ localize 'IRONSWORN.Momentum'}}
    .character-sheet-status I am status!
    .character-sheet-footer I am footer!
